language: c
matrix:
    include:
        - compiler: gcc
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - gcc-5
                      - libfuse-dev
          env: COMPILER=gcc-5
        - compiler: clang
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                      - llvm-toolchain-precise-3.7
                  packages:
                      - clang-3.7
                      - libfuse-dev
          env: COMPILER=clang
script:
    - $COMPILER --version
    - CC=$COMPILER make
